body {
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #ffffff;
    margin: 20px 20px 0 20px;
}
h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}
h2 {
    font-size: 30px;
    color: #0d0d0d;
}
p {
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}
img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dashed #ffffff;
}
div {
    min-height: 125px;
    padding: 20px;
    border: 3px solid #ffffff;
}
.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}
.red {
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px solid #000000;
    border-left: 5px solid #000000;
}
.blue {
    background-color: #0000ff;
    color: #c4c4c4;
    text-align: left;
    margin-right: 50px;
    border-top: 2px solid #000000;
    border-right: 5px solid #000000;
}